<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App - View your Notes</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='detail.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@300&display=swap:400" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
    <header>
        <div class="container">
            <img src="../static/logo.png" alt="note Logo" id="logo">
            <nav class="site-nav">
                <ul>
                    <li><a href = "/index"> Home</a></li>
                    <li><a href = "/notes"> My Notes</a></li>
                    <li><a href = "/notes/new"> Add Note</a></li>
                    <li><a href="/todo">ToDo Tasks</a></li>
                    {% if user %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
                {% endif %}
            </nav>
        </div>
    </header>

    <div class="container-notes">
        <div class="notes-box">
            <h1>Listing Notes</h1>
        </div>
    </div>

    <div class="detail-table">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Text Preview</th>
                    <th>Comments Preview</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                <tr>
                    <td><a href="{{ url_for('get_note', note_id=note.id) }}">{{ note.title }}</a></td>
                    <td>{{ note.date }}</td>
                    <td>{% if note.text|length < 25 %}
                            {{note.text}}
                        {% else %}
                            {{note.text[0:25] + "..."}}
                        {% endif %}</td>
                    <td>
   		                <ul>
                            {% if note.comments|length > 0 %}
    	                        {% for comment in note.comments %}
      		                        <li>{% if comment.content|length < 25 %}
                                            {{comment.content}}
                                        {% else %}
                                            {{comment.content[0:25] + "..."}}
                                        {% endif %}<</li>
    	                        {% endfor %}
                            {% else %}
                                <li>N/A</li>
                            {% endif %}
    	                </ul>
                    </td>
                    <td><a href="{{ url_for('update_note', note_id=note.id) }}">Edit</a></td>
                    <td>
                	    <form action="{{ url_for('delete_note', note_id=note.id) }}" method="post">
                		    <input type="submit" value="Delete">
                	    </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="button-container">
        <button class="button"><a href = "/notes">Standard View</a></button>
    </div>
    </body>
</html>